{% extends 'base.html' %}

{% block body %}
  <section class="header">
    <h2 class="title"><i class="em em-beers"></i>Beer Recommendation Engine<i class="em em-beers"></i></h2>
  </section>
  <hr />

  <div class="content">
    {% if not beer_inputted %}
      <h1>
        Enter the name of a beer!
      </h1>
    {% endif%}
    <form method="POST">
      {{ form.hidden_tag() }}
      <div class="row">
        <div class="three columns">
          {{ form.beer_input.label }} {{ form.beer_input() }}
        </div>
      </div>
      <div class="row">
        <button type="submit" class="button-primary">Submit</button>
      </div>
    </form>
    <h4>
      {% if beer_inputted %}
      <a href=http://www.beeradvocate.com{{similar_beers[0][1]}}>{{similar_beers[0][0]}}</a> by <a href={{similar_beers[0][3]}}>{{similar_beers[0][2]}}</a> can be described as:<br>
        {% for word in input_keywords%}
          {{word}}
        {% endfor %} <br><br>
      Here are some beers like <a href=http://www.beeradvocate.com{{similar_beers[0][1]}}>{{similar_beers[0][0]}}</a>: 
      <div id=container>
        <div id=beer_names>
          <h6>
            <strong>Beer and Brewery</strong><br>
            {% for beer in similar_beers[1:] %}
            <a href=http://www.beeradvocate.com{{beer[1]}}>{{beer[0]}}</a> by <a href={{beer[3]}}>{{beer[2]}}</a><br>
            {% endfor %}
          </h6>
        </div>
        <div id=beer_words>
          <h6>
            <strong>Similar Keywords</strong><br>
            {% for words in similar_keywords[1:] %}
              {% for word in words %}
                {{word}}
              {% endfor %}<br>
            {% endfor %}
          </h6>
        </div>
      </div>
      {% endif %}
    </h4>
    
  </div>
{% endblock body %}

{% block js %}
 <script>
  $(function() {
      $.ajax({
          url: '{{ url_for("autocomplete") }}'
          }).done(function (data) {
              $('#beer_input').autocomplete({
                  source: data.beer,
                  minLength: 2
              })
              .autocomplete( "instance" )._renderItem = function( ul, item ) {
                return $( "<li>" )
                  .append( "<a>" + item.label + "</a>" )
                  .appendTo( ul );
              };
          });
  });
  </script>
{% endblock js %}